.base-welcome
    .welcome
        h1.welcome-header WELCOME
        .welcome-name
            .welcome-name-to ~ TO ~
            .welcome-name-text { COMPUTING SOCIETY }
    .welcome-prompt
        .welcome-prompt-words SIGN ME UP

    .base-monitor
        .base-monitor-ring
            .base-monitor-ring-center
            .base-monitor-ring-orbit
    .base-caption
        p Listening...


