.base
    .base-section.mod-left
        .base-fields
            .base-fields-item
                .base-fields-item-label
                    label(for="field") First Name
                .base-fields-item-input
                    input(name="field" value="hey")

            .base-fields-item
                .base-fields-item-label
                    label(for="field") Last Name
                .base-fields-item-input
                    input(name="field" value="hey")

            .base-fields-item
                .base-fields-item-label
                    label(for="field") Email Address
                .base-fields-item-input
                    input(name="field" value="hey")

            .base-fields-item
                .base-fields-item-label
                    label(for="field") Skills
                .base-fields-item-input
                    input(name="field" value="hey")
    .base-section.mod-middle
        <div class="base" ui-view></div>
    .base-section.mod-right
