.base
    .base-section.mod-left
        .base-fields
            .base-fields-item
                .base-fields-item-label
                    label(for="field") First Name
                .base-fields-item-input
                    input(name="field" value="hey")

            .base-fields-item
                .base-fields-item-label
                    label(for="field") First Name
                .base-fields-item-input
                    input(name="field" value="hey")
    .base-section.mod-middle
        .base-prompt
            .base-prompt-label
                p First Name
            .base-prompt-input
                input(name="field" value="hey")
        .base-keyboard
            .base-keyboard-row.mod-first
                .key
                    p q
                .key
                    p w
                .key
                    p e
                .key
                    p r
                .key
                    p t
                .key
                    p y
                .key
                    p u
                .key
                    p i
                .key
                    p o
                .key
                    p p
            .base-keyboard-row.mod-second
                .key
                    p a
                .key
                    p s
                .key
                    p d
                .key
                    p f
                .key
                    p g
                .key
                    p h
                .key
                    p j
                .key
                    p k
                .key
                    p l

            .base-keyboard-row.mod-third
                .key
                    p ^
                .key
                    p z
                .key
                    p x
                .key
                    p c
                .key
                    p v
                .key
                    p b
                .key
                    p n
                .key
                    p m
                .key
                    p ,
                .key
                    p .
                .key
                    p <--
            .base-keyboard-row.mod-fourth
                .key.mod-space

        .base-monitor
            .base-monitor-ring
                .base-monitor-ring-center
                .base-monitor-ring-orbit
        .base-caption
            p Listening...
    .base-section.mod-right
