@-webkit-keyframes key-pulse {
  0% {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  20% {
    opacity: 0.7;
    height: 50%;
    width: 50%;
  }
  100% {
    opacity: 0.3;
    height: 120%;
    width: 120%;
  }
}
.base.mod-sign-up {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: row;
}
.sign-up-body-holder {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.sign-up-prompter-holder {
  height: 250px;
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prompter {
  position: relative;
  display: flex;
  flex-direction: column;
}
.prompter-label {
  position: relative;
  height: 40%;
  width: 500px;
  margin: 0 auto;
}
.prompter-label p {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  color: #fff;
  font-weight: 200;
  font-size: 50px;
  font-family: Raleway;
}
.prompter-input {
  flex-grow: 1;
  width: 500px;
  margin: 0 auto;
}
.prompter-input input {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border: none;
  padding: 10px;
  color: #68aae0;
}
.sign-up-keyboard-holder {
  position: relative;
  height: 350px;
  width: 900px;
  margin: 0 auto;
}
.keyboard {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: 80px;
}
.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
}
.key {
  position: relative;
  height: 70px;
  width: 70px;
  background-color: #f3f2dd;
  border-radius: 90px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 3px 5px 1px rgba(66,66,66,0.5);
  transform: translate(-1px, -1px);
}
.key:hover {
  box-shadow: 1px 2px 4px 1px rgba(66,66,66,0.5);
}
.key:hover p {
  -webkit-filter: brightness(1.7);
}
.key p {
  position: relative;
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  line-height: 10px;
  transform: translate(-50%, -50%);
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  color: #66665e;
  text-shadow: 2px 2px 3px rgba(66,66,66,0.2);
}
.key:after {
  position: absolute;
  content: "";
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  transform: translate(-50%, -50%);
  border-radius: 90px;
  background-color: #fff;
}
.pressed {
  box-shadow: 1px 1px 0px 0px rgba(66,66,66,0.5);
  transform: translate(0px, 0px);
}
.pressed p {
  -webkit-filter: brightness(1.5);
}
.pressed:after {
  animation: key-pulse 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.key.mod-space {
  width: 500px;
}
@-webkit-keyframes key-intro {
  0% {
    transform: scale(0.2, 0.2);
    background-color: #fff;
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    background-color: #f3f2dd;
  }
}
.invis {
  opacity: 0;
}
.key-intro {
  animation: key-intro 0.4s;
  animation-iteration-count: 1;
}
.sign-up-monitor-holder {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.monitor.mod-sign-up {
  justify-content: flex-end;
  padding-left: 160px;
}
.sign-up-fields-holder {
  position: absolute;
  z-index: 1;
}
.sign-up-fields {
  position: relative;
  width: 310px;
  padding-top: 30px;
  padding-left: 20px;
  z-index: 1;
}
@-webkit-keyframes card-enter {
  0% {
    transform: translate(4px, 3px) scale(0.8, 0.8);
    box-shadow: 0px 0px 0px 0px rgba(20,20,20,0);
    opacity: 0;
  }
  25% {
    transform: translate(0px, 0) scale(1, 1);
    box-shadow: 3px 5px 10px 0px rgba(20,20,20,0.2);
    opacity: 0.7;
  }
  50% {
    transform: translate(-2px, -2px) scale(1.05, 1.05);
    box-shadow: 4px 7px 15px 0px rgba(20,20,20,0.3);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) scale(1, 1);
    box-shadow: 2px 3px 7px 0px rgba(20,20,20,0.2);
    opacity: 1;
  }
}
.sign-up-fields-item {
  position: relative;
  width: 100%;
  height: 110px;
  margin: 10px auto;
  background-color: #fff;
  font-family: Raleway;
  font-weight: 200;
  transform: scale(1, 1);
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing: ease-out;
  box-shadow: 2px 3px 7px 0px rgba(20,20,20,0.2);
  opacity: 1;
}
.sign-up-fields-item:hover,
.sign-up-fields-item:active,
.sign-up-fields-item:focus {
  transform: scale(1.07, 1.07);
}
.sign-up-fields-item.ng-enter {
  animation: card-enter 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.base-fields-item-label {
  position: relatative;
  width: 100%;
  font-size: 24px;
  font-weight: 200;
  color: #66665e;
  padding-top: 15px;
  padding-left: 15px;
}
.base-fields-item-input {
  position: relative;
  width: 100%;
}
.base-fields-item-input input {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  height: 60px;
  border: none;
  padding: 10px;
  padding-left: 25px;
  background-color: transparent;
  color: #68aae0;
  outline: none;
  border: none;
  border-width: 0px;
  transition-property: border;
  transition-duration: 0.2s;
}
.base-fields-item-input input:focus {
  border-bottom: 3px solid #68aae0;
}
.monitor.mod-sign-up .monitor-ring:after {
  background-color: #53bae6;
}
.monitor.mod-sign-up .monitor-ring-center {
  background-color: #53bae6;
}
.monitor.mod-sign-up.isTransitioning .monitor-ring-center {
  z-index: 5;
  -webkit-clip-path: circle(1000px at 50% 50%);
}
