.base.mod-thanks
  .thanks.body-holder
    .firework
        .top
        .bottom
    .thanks-monitor-holder
        .monitor.mod-thanks.js-monitor.isTransitioning
            .monitor-ring
                .monitor-ring-center
                .monitor-ring-orbit
            .monitor-caption
                p Listening...