@require "normalize"
//bg-blue = #00BCD4 
//bg-blue = #03A9F4
//bg-blue = #2196F3
//bg-blue = #fff
//bg-blue = #EB4336 
//bg-blue = #315D82
//bg = #673AB7 
//bg = #3F51B5 
//red-bg = #E54047 
//red-bg = #F44336 
//key-fg = #EBEFF2 
//orange-gradient =  -webkit-linear-gradient(-45deg,  rgba(241,85,54,1) 0%, rgba(202,28,51,1) 70%);
//blue-gradient =  -webkit-linear-gradient(-45deg,  rgba(241,85,54,1) 0%, rgba(202,28,51,1) 100%);
//blue-gradient = -webkit-linear-gradient(-45deg, rgba(112, 191, 245,1) 0%,rgba(39, 160, 243, 1) 100%);
//my-orange = #FF5722 
//my-orange = rgba(255, 87, 34, 0.6) 
//my-orange = #ff5b42 
//my-burgundy = rgba(128, 0, 32, 0.6) 

red-bg =#D6253F 
bg-green =#5CC85B
my-burgundy =#CB1D34 
my-orange = #EF473A 
my-gradient = -webkit-linear-gradient(-65deg, my-orange 0%, my-orange 40%, my-burgundy 80%)
//my-gradient =-webkit-linear-gradient(-65deg, #B8352B 0%, #CB382C 40%, #A1182A 80%) 
bg-blue =#53BAE6 
dark-fg = rgba(30,30,30,0.4) 
orbit-color = #D461A1

@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg)
    }
}

*
    box-sizing border-box

#holder,body,html
    position relative
    height 100%
    width 100%
    color fg-default
    font-family "Open Sans"

.base
    position relative
    height 100%
    width 100%

.base.mod-welcome
    position relative
    height 100%
    width 100%
    background url('./res/red-noise.png'), my-gradient

.base.mod-sign-up
    position relative
    height 100%
    width 100%
    background-color bg-blue

.base.mod-thanks
    position relative
    height 100%
    width 100%
    background-color bg-green

.monitor
    position relative
    display flex
    flex-direction column
    align-items center
    height 100%
    min-width 200px
    margin 0 auto

.monitor-ring
    position relative
    height 60px
    width 60px
    border 2px solid #FF7043 
    border-radius 50px

.monitor-ring:after
    position absolute
    opacity 1
    content ""
    top 50%
    left 50%
    height 15px
    width 15px
    transform translate(-50%,-50%)
    border-radius 40px
    animation pulse 0.7s linear infinite

.monitor-ring-center
    position relative
    z-index 1
    height 1600px
    width 1600px
    top 50%
    left 50%
    transform translate(-50%,-50%)
    border-radius 20px
    background-color #F44336 
    -webkit-clip-path: circle(8px at 50% 50%);
    transition all 1s cubic-bezier(0.19, 1, 0.22, 1)

.monitor-ring-orbit
    position absolute
    top 25px
    left 25px
    height 10px
    width 10px
    border-radius 30px
    transform rotate(45deg) translateX(30px)
    animation orbit 2s linear infinite
    background-color orbit-color

.monitor-caption
    position relative
    margin 0 auto
    flex-shrink 1
    z-index -1
    p
        width 100%
        text-align center
        font-size 25px
        color  dark-fg
        font-weight bold
        padding 0
        margin 0
